# ignore all runtime dirs & files
source/runtime/*

# but not the default structure!!
!source/runtime/default/*


# also ignore all resources dirs
source/resources/*

# but not the default structure!!
!source/resources/default/*
# AND not the generic code/files
!source/resources/generic*.*