source/resources/*
!source/resources/*
!source/resources/default/*

source/runtime/*
!source/runtime/*
!source/runtime/default/*

!.gitignore
!*/.gitignore
!*/*/.gitignore
!*/*/*/.gitignore
!*/*/*/*/.gitignore
